<div class="navbar is-spaced has-background-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img style="max-height: 3.75rem" [src]="logoImagePath">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <!--loop through navbar items object array -->
      <div class="navbar-item">
        <span class="has-text-white">
          Home
        </span>
      </div>
      <div class="navbar-item">
        <span class="has-text-white">
          Projects
        </span>
      </div>
    </div>
  </div>
</div>

