<div class="has-background-black">
  <div class="container">
    <div class="title has-text-white"
         style="font-family: HelveticaNeue;
                font-size: 7rem;
                margin-bottom: -20px">Andre
    </div>
    <div class="title has-text-white"
         style="font-family: HelveticaNeue; font-size: 1.5rem">
      Godinez .
    </div>
    <div class="columns">
      <div class="column">
        <div class="title has-text-white" style="font-family: HelveticaNeue; font-size: 2rem">
          4th Year Computer Science student based in Galway interested in Full Stack Web Development, Artificial
          Intelligence, Machine Learning
          , Cloud and Big Data.
        </div>
      </div>
      <div class="column"></div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div class="title has-text-white" style="font-family: HelveticaNeue; font-size: 1.5rem">
            Want to work on something together? Let's talk about it.
          </div>
        </div>
        <div class="column is-offset-two-fifths">
         <figure class="image">
           <img style="width: 18rem; height: 14rem" [src]="avatarImagePath">
         </figure>
        </div>
      </div>
    </div>
  </div>
</div>
